@import url('/stylesheets/border.css');


#wrapper {
	width: 60em;
	margin-left: auto;
	margin-right: auto;
}

#container {
	width: 100%
}

.turni {
	text-indent: 1em;
}

.sponsor {
	display: inline;
	font-style: italic;
}

.font_titolo {
	font-family: ReklameScript-RegularDEMO;
	font-size: 3em;
}

.separa {
	height: 0.6em;
	display: block;
}
