@import url(fonts.css);
@import url(auth.css);

#header{
	height:75px;
}

.spazio50 {
	height: 50px;
}

.spazio25 {
	height: 25px;
}

.spazio10 {
	height: 10px;
}

#user_nav {
	text-align: right;
	color: #92CAE4;
	height: 50px;
	border-bottom: solid 3px #444444;
}

#content {
	min-height: 400px;
}

#barraSX {
	display: inline;
}

.campionati {

}

.campionati a{
	color: #000000;
	text-decoration: none;
	font: 1.8em GraublauWeb, Helvetica, Georgia;

}

#schedina {
	display: inline;
	min-height: 1px;
}

li {
	list-style:none;
}

.submit {
	margin-left: 8px;
}

.partita {
	font: 1.8em GraublauWeb, Helvetica, Georgia; 
}

#footer {
	height: 50px;
	border-top: solid 3px #444444;
}
