<div class="spazio25 span-1 last"></div>
<div id="barraSX" class="span-3">	
	<% unless user_signed_in? %>
		<%= render '/devise/sessions/form' %>
	<% else %>
		<% @campionati.each do |f| %>
			<%= link_to f.nome_campionato, f %>
				<div class="campionato">
						<% f.rounds.each do |r| %>
							<div class="giornate">
								<%= link_to r.nome_turno, giornata_path(:cmp => "#{r.champion_id}",:trn => "#{r.id}"), :remote => true%>
							</div>
						<% end %>
				</div>
		<% end %>
	<% end %>
</div>
	
<div id="schedina" class="span-8 last"></div>